<div>
  <h1>{{ board?.title }}</h1>
  <div class="columns-wrapper">
    <div class="columns">
      <div *ngFor="let column of columns" class="column">
        <div class="column-title">{{ column.title }}</div>
        <div class="tasks-wrapper">
          <div class="tasks">
            <div *ngFor="let task of column?.tasks" class="task">
              <h4>{{ task.title }}</h4>
              <p>
                {{ task.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
