:host {
  position: relative;
}

.title-container {
  text-align: center;
}

.boards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 240px));
  justify-content: center;
  gap: 26px;
}

.board {
  cursor: pointer;

  .mat-card-title {
    font-size: 21px;
  }
}

.add-board-btn {
  position: fixed;
  right: 20px;
  bottom: 16px;
}
